.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json*
*.rar
*.zip
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
# Ignore everything in this directory   
*   
# Except this file !.gitkeep   
