//弹出层的效果
.alert-quote-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    background: rgba(0, 0, 0, 0.6);
    .alert-quote-box {
      position: relative;
      width: 100%;
      height: 100%;
      .alert-quote {
        width: 470px;
        height: 626px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -235px;
        margin-top: -313px;
        background: #fff;
        border-radius: 4px;
        .header-box {
          height: 198px;
          background-color: #333333;
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
          padding-top: 32px; // border-radius: 4px;
          .close-btn {
            position: absolute;
            width: 12px;
            height: 12px;
            background: url('../img/guanbibai.png') no-repeat center;
            right: 10px;
            top: 10px;
            cursor: pointer;
          }
          .portrit {
            width: 80px;
            height: 80px;
            margin-bottom: 12px;
            margin: 0 auto;
            border-radius: 50%;
            overflow: hidden;
            background: #fff;
            img {
              width: 100%;
            }
          }
          .name {
            text-align: center;
            font-size: 22px;
            color: #fff;
            line-height: 40px;
            height: 40px;
          }
          .case-live {
            font-size: 12px;
            text-align: center;
            color: #b6b6b6;
            span {
              i {
                color: #dd4f50;
              }
            }
            .line-bac {
              display: inline-block;
              width: 1px;
              height: 12px;
              margin: 1px 14px;
              border-right: 1px solid #545454;
              vertical-align: middle;
            }
          }
        }
        .form-info {
          padding: 0 30px;
          padding-top: 30px;
          .title {
            font-size: 22px;
            color: #333;
            text-align: center;
            margin-bottom: 10px;
            height: 22px;
          }
          .warning {
            color: #b6b6b6;
            font-size: 12px;
            font-family: "宋体";
            margin-bottom: 30px;
            text-align: center;
            height: 14px;
          }
          .info-list {
            width: 410px;
            height: 30px;
            position: relative;
            margin-bottom: 10px;
            border: solid 1px #dbdbdb;
            padding: 2px 0;
            border-radius: 4px;
            .tip-star {
              display: block;
              position: absolute;
              left: -12px;
              top: 6px;
              color: #dd4f50;
            }
            input[type="text"] {
              display: block;
              width: 404px;
              height: 26px;
              color: #333;
              text-indent: 10px;
              &::placeholder {
                color: #b6b6b6;
              }
            }
            .select-style {
              width: 410px;
              height: 26px;
              line-height: 26px;
              color: #b6b6b6;
              font-size: 12px;
              position: relative;
              cursor: pointer;
              .select-cont {
                text-indent: 14px;
                line-height: 24px;
              }
              .selectCont{
                color: #333;
              }
              .triangle {
                display: block;
                width: 0;
                border: 4px solid transparent;
                border-top: 4px solid #7d7d7d;
                position: absolute;
                right: 6px;
                top: 12px;
              }
              .triangleRotate{
                transform: rotate(180deg);
                top: 6px;
              }
              .select-box {
                width: 100%;
                display: none;
                background: #fff;
                position: absolute;
                left: -1px;
                top: 26px;
                border: 1px solid #dbdbdb;
                border-bottom: none;
                max-height: 200px;
                overflow-y: auto;
                z-index: 10px;
                .select-list {
                  width: 100%;
                  height: 30px;
                  line-height: 30px;
                  text-indent: 10px;
                  color: #333;
                  border-bottom: 1px solid #dbdbdb;
                  cursor: pointer;
                  &:hover {
                    background: rgba(0, 0, 0, 0.1);
                  }
                }
              }
            }
            .house {
              width: 60px;
              height: 30px;
              margin-right: 5px;
              text-indent: 8px;
              border: 1px solid #dbdbdb;
              border-radius: 2px;
              outline: none;
              option {
                // text-indent: 10px;
              }
            }
            #area {
              width: 148px;
              height: 30px;
              border: 1px solid #dbdbdb;
              float: right;
              display: block;
              border-radius: 4px; // position: relative;
            }
            .area-unit {
              position: absolute;
              width: 10px;
              height: 10px;
              top: 9px;
              right: 16px;
              font-size: 12px;
              color: #333;
              font-family: "arial";
            }
          }
          .tip-box{
            position: absolute;
            width: 100%;
            height: 30px;
            line-height: 30px;
            font-size: 12px;
            color: #dd4f50;
            left: 0;
            top: -10px;
            display: none;
          }
          .submit-box {
            padding: 20px 0;
            position: relative;
            .submit-btn {
              width: 410px;
              height: 30px;
              line-height: 30px;
              background: #dd4f50;
              text-align: center;
              color: #fff;
              border-radius: 15px;
              cursor: pointer;
            }
          }
          .promise-box {
            width: 410px;
            height: 30px;
            font-size: 12px;
            color: #7d7d7d;
            .promise-bac {
              float: left;
              display: block;
              width: 16px;
              height: 16px;
              background: url('../img/chengnuo.png') no-repeat center;
              margin-bottom: 10px;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }