#slider {
  position: fixed;
  z-index: 19!important;
}

.des-header {
  width: 100%;
  height: 416px;
  position: relative;
  .desimg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }
  .designer {
    width: 1300px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    .portrait {
      background-color: #FFF;
      margin: 42px auto 0;
      width: 150px;
      height: 150px;
      line-height: 150px;
      padding: 2px;
      text-align: center;
      border-radius: 50%;
      overflow: hidden;
      img {
        // margin: 0 auto;
        border: 0;
        border-radius: 50%;
        width: 146px;
        height: 146px;
      }
    }
    >h5 {
      color: #ffffff;
      text-align: center;
      width: 100%;
      overflow: hidden;
      &:nth-of-type(1) {
        font-size: 22px;
        width: 100%;
        height: 20px;
        line-height: 20px;
        margin: 20px 0 10px;
      }
      &:nth-of-type(2) {
        height: 20px;
        line-height: 20px;
        margin: 00px 0 0px 0;
        font-size: 14px;
      }
      &:nth-of-type(3) {
        margin: 10px 0 0;
        span {
          text-align: center;
          display: inline-block;
          >i {
            float: left;
            margin: 3px 5px 0 0;
            display: block;
            width: 10px;
            height: 12px;
            background: url("../img/dingweibai.png") no-repeat center;
          }
          em {
            float: left;
          }
        }
      }
      &:nth-of-type(4) {
        float: left;
        width: 100%;
        height: 52px;
        >div {
          width: 615px;
          height: 100%;
          overflow: hidden;
          margin: 0 auto;
          >p {
            height: 100%;
            float: left;
            display: block;
            padding: 0 60px;
            border-right: 1px solid #FFF;
            &:nth-of-type(2) {
              padding: 10px 60px;
              box-sizing: border-box;
              width: 260px;
              span:nth-of-type(2) {
                margin: 10px 0 0 0;
              }
              span:nth-of-type(1) {
                height: 17px;
                line-height: 17px;
              }
            }
            &:nth-of-type(1) {
              width: 180px;
            }
            &:nth-of-type(3) {
              width: 170px;
            }
            >span {
              margin: 0;
              display: block;
              >strong {
                font-size: 26px;
              }
              >b {
                &:nth-of-type(1) {
                  color: #e7e6e4;
                }
                &:nth-of-type(3) {
                  color: #e7e6e4;
                }
              }
              >em {
                i {
                  float: left;
                  display: block;
                  width: 16px;
                  height: 16px;
                  background: no-repeat center;
                }
                .gray {
                  background-image: url("../img/xiaoxingkong.png");
                }
                .yellow {
                  background-image: url("../img/xiaoxinghuang.png");
                }
              }
            }
            &:nth-of-type(3) {
              border: 0;
            }
            &:nth-of-type(2)>span>b {
              padding: 0 10px;
              background: #ffa800;
              color: #333;
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
}

.mark {
  color: #df5e5f;
}

.more {
  clear: both;
  width: 100%;
  text-align: center;
  padding: 20px 0 0 0;
  span {
    font-size: 12px;
    display: block;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 16px;
    cursor: pointer;
  }
  .yes {
    border: solid 1px #dd4f50;
    color: #dd4f50;
    background: #FFF;
  }
  .no {
    display: none;
    background-color: #f3f4f7;
  }
}

.des-nav {
  position: relative;
  height: 60px;
  margin-top: -30px;
  width: 100%;
  .box {
    // transition: all 0.3s;
    height: 60px;
    width: 1300px;
    margin: 0 auto;
    position: relative; // box-shadow: 0 0 20px #CCC;
    box-shadow: 0 0px 15px rgba(0, 0, 0, .1);
    border-radius: 30px;
    >h5 {
      background: #FFF; // position: absolute;
      left: 0; // top: -30px;
      height: 60px;
      margin-top: -30px;
      line-height: 60px;
      z-index: 50;
      border-radius: 30px;
      padding: 0 15px;
      text-indent: 30px;
      width: 1300px;
      margin: 0 auto;
      >div {
        &:nth-of-type(1) {
          float: left;
          height: 100%;
          line-height: 60px;
          >span {
            padding: 5px 10px;
            text-align: center;
            cursor: pointer;
            display: block;
            float: left;
            height: 60px;
            line-height: 45px;
            >em {
              padding: 5px 0;
            }
            .active {
              border-bottom: 2px solid #dd4f50;
            }
          }
        }
        &:nth-of-type(2) {
          float: right;
          >span {
            margin: 15px 0 0 10px;
            cursor: pointer;
            display: block;
            float: left;
            width: 126px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            >em {
              float: left;
              text-align: left;
              margin: 0 0 0 -20px;
            }
            >i {
              display: block;
              float: left;
              width: 16px;
              height: 16px;
              margin: 0 0 0 20px;
            }
            border-radius: 15px;
            &:nth-of-type(1) {
              border: 1px solid #dedede;
              >i {
                margin: 8px 0 0 30px;
              }
            }
            &:nth-of-type(2) {
              background: #dd4f50;
              color: #FFF;
              >i {
                margin: 6px 0 0 20px;
                background: url("../img/bi.png") no-repeat center;
              }
            }
          }
          .gz {
            color: #dd4f50;
            >i {
              background: url("../img/yiguanzhu.png") no-repeat center;
            }
          }
          .wgz {
            color: #dbdbdb;
            >i {
              margin: 8px 0 0 30px;
              background: url("../img/guanzhu.png") no-repeat center;
            }
          }
        }
      }
    }
  }
}

.ceilingNav {
  width: 100%;
  .box {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #FFF; // box-shadow: 0 0 20px #CCC;
    border-radius: 0;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
    >h5 {
      background: #FFF;
      margin: 0 auto;
      width: 1300px;
      border-radius: 0;
    }
  }
}

.main {
  width: 100%;
  .title {
    width: 100%;
    >span {
      $widht: 580px;
      &:nth-of-type(1) {
        display: block;
        float: left;
        width: $widht;
        height: 0;
        border-top: 1px dashed #dbdbdb;
        &:before {
          content: "";
          display: block;
          width: 4px;
          height: 4px;
          background: #dbdbdb;
          border-radius: 50%;
          margin: -3px 0 0 0;
        }
      }
      &:nth-of-type(2) {
        display: block;
        float: left;
        width: 1300px-$widht*2;
        height: 30px;
        line-height: 30px;
        margin: -15px 0 0 0;
        text-align: center;
      }
      &:nth-of-type(3) {
        display: block;
        float: right;
        width: $widht;
        height: 0;
        border-top: 1px dashed #dbdbdb;
        &:after {
          content: "";
          float: right;
          display: block;
          width: 4px;
          height: 4px;
          background: #dbdbdb;
          border-radius: 50%;
          margin: -3px 0 0 0;
        }
      }
    }
  }
  .main-box {
    width: 1300px;
    margin: 0 auto;
    min-height: 400px;
    position: relative;
    .box {
      width: 100%;
      padding: 20px 0 40px 0;
      .lists {
        clear: both; // overflow: hidden;
        margin: 40px 0 0;
        min-height: 400px;
      }
      .list {
        float: left;
        width: 310px;
        height: 423px;
        border-radius: 4px;
        overflow: hidden;
        margin: 0 20px 20px 0;
        transition: all 0.3s;
        &:nth-of-type(4n) {
          margin: 0 0 20px 0;
        }
        &:hover {
          box-shadow: 0px 0px 15px #888;
          transform: translateY(-2px);
          .bot {
            background-color: #FFF;
          }
        }
        >a {
          width: 100%;
          height: 100%;
          position: relative;
          .vr {
            position: absolute;
            top: 25px;
            left: 10px;
            display: block;
            width: 95px;
            height: 30px;
            background: url("../img/quanjing.png") no-repeat center;
            z-index: 2;
            cursor: pointer;
          }
          .img {
            border-radius: 4px 0;
            width: 100%;
            height: 180px;
            position: relative;
            >img {
              width: 100%;
              height: 100%;
            }
            >p {
              width: 100%;
              height: 60px;
              position: absolute;
              bottom: 0px;
              left: 0px;
              background: url('../img/jianbian1.png') repeat-x center;
              >span {
                position: absolute;
                bottom: 15px;
                left: 10px;
                em {
                  color: #b5aea8;
                }
              }
              >span i {
                display: block;
                width: 16px;
                height: 16px;
                float: left;
                background-repeat: no-repeat;
                background-position: center;
                margin: 2px 5px 0 0;
              }
            }
            .gray {
              background-image: url("../img/xinghui.png");
            }
            .yellow {
              background-image: url("../img/xing.png");
            }
          }
          .bot {
            width: 100%;
            height: 242px;
            position: relative;
            background-color: #f3f4f7;
            padding: 0 20px;
            .original {
              position: absolute;
              display: block;
              width: 17px;
              height: 34px;
              top: 0;
              left: 10px;
              background: url("../img/yuanchuang.png") no-repeat center;
            }
            >h5 {
              float: left;
              width: 100%;
              text-align: center;
              &:nth-of-type(1) {
                font-size: 22px;
                color: #333333;
                margin: 20px 0 0 0;
              }
              &:nth-of-type(2) {
                font-size: 12px;
                margin: 15px 0 0 0;
                >span {
                  color: #333333;
                }
                >em {
                  padding: 0 3px;
                  color: #b6b6b6;
                }
              }
              &:nth-of-type(3) {
                margin: 15px 0 0 0;
                color: #b6b6b6;
              }
              &:nth-of-type(4) {
                height: 11px;
                margin: 20px 0 0;
                background: url("../img/line.png") center no-repeat;
              }
              &:nth-of-type(5) {
                margin: 20px 0 0;
                font-size: 12px;
                color: #b6b6b6;
              }
              &:nth-last-of-type(1) {
                font-size: 12px;
                color: #b6b6b6;
                width: 190px;
                float: none;
                clear: both;
                overflow: hidden;
                margin: 0 auto;
                padding-top: 20px;
                padding-left: 8px;
                >span {
                  display: block;
                  padding: 0 20px;
                  text-align: center;
                  &:nth-of-type(1) {
                    margin-right: 3px;
                    border-right: 1px solid #b6b6b6;
                    float: left;
                    >i {
                      display: block;
                      width: 10px;
                      height: 10px;
                      float: left;
                      background-repeat: no-repeat;
                      background-position: center;
                      margin: 3px 7px 0 0;
                      background-image: url("../img/xiaoliulan.png");
                    }
                    >em {
                      float: left;
                      display: block;
                      width: 30px;
                      text-align: left;
                    }
                  }
                  &:nth-of-type(2) {
                    float: left;
                    >i {
                      display: block;
                      width: 12px;
                      height: 12px;
                      float: left;
                      background-repeat: no-repeat;
                      background-position: center;
                      margin: 3px 7px 0 0;
                      background-image: url("../img/xiaoguanzhu.png");
                    }
                    >em {
                      float: left;
                      display: block;
                      width: 30px;
                      text-align: left;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .comment {
    width: 100%;
    min-height: 410px;
    overflow: hidden;
    background: #f3f4f7;
    .comment-box {
      width: 1300px;
      margin: 0 auto;
      overflow: hidden;
      padding: 40px 0 0 0;
      .box {
        width: 100%;
        overflow: hidden;
        padding: 20px 0 40px 0;
        .left {
          $clw: 970px;
          $clh: 88px;
          width: $clw;
          float: left;
          border-radius: 4px;
          background: #FFF;
          >h5 {
            border-bottom: 1px solid #dbdbdb;
            height: $clh;
            width: 100%;
            >div {
              width: $clw/3;
              padding: 0 0 1px 0;
              height: 48px;
              margin: ($clh/2-46/2) 0 0 0;
              border-right: 1px dashed #dbdbdb;
              float: left;
              &:nth-of-type(3) {
                border: 0;
              }
              >p {
                width: 40px;
                height: 50px;
                margin: 0 auto;
                padding: 0px 0px 64px 0;
                >span {
                  display: block;
                  text-align: center;
                  color: #333333;
                  &:nth-of-type(1) {
                    font-size: 28px;
                  }
                  &:nth-of-type(2) {
                    font-size: 12px;
                  }
                }
              }
              .active {
                box-sizing: border-box;
                border-bottom: 2px solid #dd4f50;
                >span {
                  color: #dd4f50;
                }
              }
            }
          }
          .lists {
            width: 100%;
            overflow: hidden;
            min-height: 470px;
            padding: 0 0 40px 0;
            .more {
              span {
                margin-top: 20px;
                width: 125px;
              }
            }
            .list {
              width: 100%;
              height: 130px;
              >dl {
                width: 100%;
                height: 100%;
                padding: 30px 0 0px 0;
                >dt {
                  width: 100px;
                  height: 100%;
                  float: left;
                  text-align: center;
                  >img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    margin: 0 auto;
                  }
                  >span {
                    color: #b6b6b6;
                    display: block;
                    width: 100%;
                    text-align: center;
                    font-size: 12px;
                    margin: 5px 0 0 0;
                  }
                }
                dd {
                  float: left;
                  width: 860px;
                  height: 100%;
                  padding: 0 10px 0 0;
                  border-bottom: 1px dashed #dbdbdb;
                  >p {
                    width: 100%;
                    overflow: hidden;
                    &:nth-of-type(1) {
                      >span b {
                        color: #FFF;
                        padding: 0 10px;
                        margin: 0 0 0 10px;
                        background: #ffa800;
                        border-radius: 5px;
                      }
                      >span em {
                        overflow: hidden;
                        display: block;
                        float: left;
                        >i {
                          float: left;
                          display: block;
                          width: 16px;
                          height: 16px;
                          background: no-repeat center;
                          margin: 3px 0 0 5px;
                        }
                        .gray {
                          background-image: url("../img/xinghui.png");
                        }
                        .yellow {
                          background-image: url("../img/xing.png");
                        }
                      }
                    }
                    &:nth-of-type(2) {
                      font-size: 12px;
                      margin: 5px 0 0 0;
                      >span {
                        color: #b6b6b6;
                      }
                      >em {
                        color: #2faeff;
                        &:nth-of-type(1) {
                          margin: 0 0 0 5px;
                        }
                        &::nth-last-of-type(1) {
                          margin: 0 5px 0 0;
                        }
                      }
                      >b {
                        color: #b6b6b6;
                      }
                    }
                    &:nth-of-type(3) {
                      margin: 5px 0 0 0;
                      color: #7d7d7d;
                      font-size: 12px;
                    }
                  }
                }
              }
            }
          }
        }
        .right {
          width: 310px;
          float: right;
          border-radius: 4px;
          .goods {
            width: 100%;
            height: 130px;
            border-radius: 4px;
            overflow: hidden;
            background: #FFF;
            padding: 0 20px;
            .top {
              width: 100%;
              height: 75px;
              border-bottom: 1px dashed #b6b6b6;
              padding: 20px 0;
              >div {
                overflow: hidden;
                margin: 18px 0 0 0;
                >span {
                  font-size: 12px;
                  &:nth-of-type(1) {
                    float: left;
                    color: #272727;
                    display: block;
                    width: 50px;
                    text-align: justify;
                    text-align-last: justify;
                  }
                  &:nth-of-type(2) {
                    color: #ffa800;
                    float: right;
                  }
                }
                >p {
                  float: left;
                  width: 150px;
                  height: 15px;
                  line-height: 15px;
                  overflow: hidden;
                  margin: 0px 0 0 15px;
                  >span {
                    display: block;
                    float: left;
                    width: 100%;
                    margin: 5px 0 0 0;
                    height: 6px;
                    border-radius: 4px;
                    background: #f3f4f7;
                    overflow: hidden;
                    >b {
                      border-radius: 4px;
                      display: block;
                      float: left;
                      height: 100%;
                      background: #ffa800;
                    }
                  }
                }
              }
            }
            .bot {
              padding: 20px 0;
              width: 100%;
              height: 75px;
              >div {
                overflow: hidden;
                >span {
                  font-size: 12px;
                  &:nth-of-type(1) {
                    float: left;
                    color: #272727;
                    display: block;
                    width: 50px;
                    text-align: justify;
                    text-align-last: justify;
                  }
                  &:nth-of-type(2) {
                    color: #ffa800;
                    float: right;
                  }
                }
                >p {
                  float: left;
                  width: 150px;
                  height: 15px;
                  line-height: 15px;
                  overflow: hidden;
                  margin: 0px 0 0 15px;
                  >i {
                    float: left;
                    display: block;
                    width: 16px;
                    height: 16px;
                    background: no-repeat center;
                    margin: 0px 5px 0 0px;
                  }
                  .gray {
                    background-image: url("../img/xinghui.png");
                  }
                  .yellow {
                    background-image: url("../img/xing.png");
                  }
                }
              }
            }
          }
          .evaluate {
            clear: both;
            border-radius: 4px;
            width: 100%;
            height: 406px;
            background: #FFF;
            margin: 20px 0 0 0;
            .top {
              width: 100%;
              height: 60px;
              border-bottom: 1px solid #b6b6b6;
              line-height: 60px;
              font-size: 22px;
              color: #333333;
              text-align: center;
            }
            .bot {
              padding: 10px 20px 20px 20px;
              >h5 {
                width: 100%;
                >p {
                  overflow: hidden;
                  margin: 0 auto;
                  height: 100%;
                  text-align: center;
                  &:nth-of-type(1) {
                    width: 205px;
                    >i {
                      display: block;
                      width: 36px;
                      height: 36px;
                      float: left;
                      margin: 0 5px 0 0;
                      background: no-repeat center;
                      cursor: pointer;
                    }
                    .gray {
                      background-image: url("../img/daxinghui.png");
                    }
                    .yellow {
                      background-image: url("../img/daxinghuang.png");
                    }
                  }
                  &:nth-of-type(2) {
                    color: #b6b6b6;
                    font-size: 12px;
                    margin: 10px 0 0 0;
                  }
                }
              }
              .textarea {
                width: 100%;
                height: 200px;
                border: 1px solid #b6b6b6;
                border-radius: 4px;
                overflow: hidden;
                margin: 20px 0 0 0;
                >textarea {
                  border: 0;
                  width: 100%;
                  height: 100%;
                  border-radius: 4px;
                }
              }
              .go {
                text-align: center;
                width: 100%;
                height: 30px;
                line-height: 30px;
                color: #FFF;
                background-color: #dd4f50;
                border-radius: 15px;
                margin: 10px 0 0 0;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
  .describe {
    width: 1300px;
    margin: 0 auto;
    padding: 40px 0;
    .destitle {
      position: relative;
      >b {
        border-bottom: 1px solid #dbdbdb;
        display: block;
        height: 0;
        width: 100%;
        margin-bottom: -20px;
        &:nth-of-type(1) {
          float: left;
          &:before {
            content: "";
            display: block;
            width: 5px;
            height: 5px;
            background: #dbdbdb;
            border-radius: 50%;
            margin: -2px 0 0 0;
          }
          &:after {
            content: "";
            float: right;
            display: block;
            width: 5px;
            height: 5px;
            background: #dbdbdb;
            border-radius: 50%;
            margin: -5px 0 0 0;
          }
        }
        &:nth-of-type(2) {
          float: left;
        }
      }
      >span {
        display: block;
        max-width: 250px;
        min-width: 220px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        background: #FFF;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        font-size: 22px;
      }
    }
    .box {
      padding: 40px 0;
      overflow: hidden;
      height: 400px;
      .des {
        overflow: hidden;
        float: left;
        height: 400px;
        border-right: 1px dashed #dbdbdb;
        >dl {
          overflow: hidden;
          float: left; // margin: 0 0 0 40px;
          height: 100%;
          >dt {
            color: #333;
            font-size: 14px;
            >em {
              color: #333;
              >i {
                float: left;
                display: block;
                width: 16px;
                height: 16px;
                margin: 2px 5px 0 0px;
                background: no-repeat center;
              }
            }
          }
          dd {
            margin: 40px 0 0 0;
            color: #7d7d7d;
            font-size: 12px;
          }
        }
        &:nth-of-type(1) {
          width: 646px;
          height: 400px;
          i {
            background-image: url("../img/yiguanzhu.png");
          }
          >img {
            border-radius: 4px;
            overflow: hidden;
            float: left;
            width: 300px;
            height: 360px;
          }
          >dl {
            width: 260px;
            margin-left: 40px;
            >dd {
              overflow: hidden;
              >p {
                width: 100%;
                overflow: hidden;
                clear: both;
                margin-bottom: 5px;
                >span {
                  display: block;
                  &:nth-of-type(1) {
                    width: 60px;
                    float: left;
                  }
                  &:nth-of-type(2) {
                    width: 200px;
                    float: right;
                  }
                }
              }
            }
          }
        }
        &:nth-of-type(2) {
          width: 350px;
          height: 400px;
          padding: 0 20px;
          i {
            background-image: url("../img/gerenjianjie.png");
          }
        }
        &:nth-of-type(3) {
          width: 300px;
          height: 400px;
          padding: 0 0 0 20px;
          border: 0;
          i {
            background-image: url("../img/rongyu.png");
          }
          >dl dd {
            >p {
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
}
