#slider {
  position: fixed;
  z-index: 19!important;
}

#banner {
  width: 100%;
  height: 470px;
  background: url("../img/sjk-banner.png") no-repeat center;
  .banner {
    height: 100%;
    position: relative;
    width: 1300px;
    margin: 0 auto;
    background-size: 100% 470px;
    margin: 0 auto;
    @media screen and (min-width: 1300px) {
      background-size:100% 470px;
    }
    @media screen and (max-width: 1300px) and (max-width: 0px) {
      background-size: 1300px 470px;
    }
    .box {
      width: 1300px;
      height: 330px;
      background: #FFF;
      border-radius: 4px;
      padding: 5px 20px 0px 0;
      box-sizing: border-box;
      border-bottom: 1px solid #dbdbdb;
      position: absolute;
      bottom: 0;
      left: 0;
      .left {
        padding: 2px 0px 0 0;
        height: 100%;
        dl {
          p {
            padding: 0;
            margin: 0;
            height: 15px;
            line-height: 15px;
            font-size: 15px;
            color: #333333;
          }
          a {
            color: #333;
          }
          height: 80px;
          box-sizing: border-box;
          padding: 10px 0 0px 0;
          &:nth-of-type(1) {
            padding: 10px 0 10px 0;
          }
          border-bottom: 1px dashed #dbdbdb;
          .style {
            display: inline-block;
            width: 26px;
            height: 26px;
            background: url("../img/style.png") no-repeat center;
          }
          .type {
            display: inline-block;
            width: 26px;
            height: 26px;
            background: url("../img/huxing.png") no-repeat center;
          }
          .area {
            display: inline-block;
            width: 26px;
            height: 26px;
            background: url("../img/mianji.png") no-repeat center;
          }
          .price {
            display: inline-block;
            width: 26px;
            height: 26px;
            background: url("../img/jiage.png") no-repeat center;
          }
          &:nth-last-child(1) {
            border: 0;
            padding: 10px 0 0px 0;
          }
          dt {
            padding: 5px 0 0 0;
            float: left;
            border-right: 1px dashed #dbdbdb;
            width: 87px;
            height: 60px;
            text-align: center;
          }
          dd {
            float: left;
            width: 305px;
            padding: 0 0px 0 10px;
            a {
              font-family: '宋体';
              margin: 0 5px 0 0;
              display: inline-block;
              padding: 0 5px;
              height: 17px;
              cursor: pointer;
              text-align: center;
              line-height: 18px;
              font-size: 12px;
              border-radius: 4px;
              &:hover {
                background: #dd4f50;
                color: #FFF;
              }
            }
            .cur {
              background: #dd4f50;
              color: #FFF;
            }
          }
        }
      }
      .right {
        width: 820px;
        height: 100%; // 320px
        background: url('../img/vrbanner.png') no-repeat center;
      }
    }
  }
}

.title {
  margin: 15px 0; // padding: 10px 0;
  text-align: center;
  h3 {
    color: #333333;
    font-size: 22px;
  }
  p {
    color: #b6b6b6;
    font-size: 12px;
    margin: 0px 0 0 0;
  }
  .mark {
    color: #dd4f50;
  }
  .condition {
    display: inline-block;
    padding: 0px 12px 0px 10px;
    border-radius: 4px;
    margin: 0 10px;
    text-align: center;
    background-color: #f3f4f7;
    border: solid 1px #dbdbdb;
    >i {
      cursor: pointer;
      display: block;
      width: 8px;
      height: 8px;
      background: url("../img/shanchu.png") no-repeat center;
      margin: 7px 0 0 5px;
      float: right;
    }
    em {
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      line-height: 20px;
      letter-spacing: 0px;
      color: #7d7d7d;
    }
  }
}

.main {
  width: 100%;
  background: #FFF;
  min-height: 400px;
  .box {
    width: 1300px;
    margin: 0 auto;
    .designer {
      height: 400px;
      width: 100%;
      margin: 0 0 35px 0;
      >div {
        &:nth-of-type(1) {
          width: 400px;
          height: 100%;
          float: left;
          >a {
            display: block;
            width: 130px;
            height: 130px;
            border-radius: 4px;
            overflow: hidden;
            position: relative;
            float: left;
            margin: 0 5px 5px 0;
            div {
              width: 100%;
              height: 100%;
            }
            &:nth-of-type(3n) {
              margin: 0 0 5px 0;
            }
            div:nth-of-type(1) {
              img {
                width: 130px;
                height: 130px;
                border: 0;
              }
            }
            div:nth-of-type(2) {
              display: none;
              width: 130px;
              height: 130px;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 10;
              text-align: center;
              padding: 45px 0 0 0;
              color: #FFF;
              &:before {
                content: "";
                position: absolute;
                width: 130px;
                height: 130px;
                top: 0;
                right: 0;
                z-index: -1;
                background-color: #dd4f50;
                opacity: 0.8;
              }
            }
            &:hover div:nth-of-type(2) {
              display: block;
            }
            &:nth-last-of-type(1) {
              background-color: #f3f4f7;
              background: url("../img/gengduo.png") no-repeat center;
              background-color: #f3f4f7;
              float: left;
              >div {
                width: 130px;
                height: 130px;
                p {
                  width: 100%;
                  height: 12px;
                  font-family: SimSun;
                  font-size: 12px;
                  text-align: center;
                  color: #333333;
                  margin-top: 100px;
                }
              }
              &:hover {
                background-image: url("../img/gengduo-hong.png");
                p {
                  color: #dd4f50;
                }
              }
            }
          }
        }
        &:nth-of-type(2) {
          margin: 0 20px;
          float: left;
          width: 300px;
          height: 400px;
          border-radius: 4px;
          overflow: hidden;
          a {
            width: 100%;
            height: 100%;
            display: inline-block;
            position: relative;
            img {
              border: 0;
              width: 100%;
              height: 100%;
            }
            >h3 {
              position: absolute;
              z-index: 5;
              height: 190px;
              bottom: 0;
              left: 0;
              border-radius: 4px 0;
              width: 100%;
              text-align: center;
              margin-top: 20px;
              padding: 0 8px;
              &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -1;
                background-color: #FFF;
                opacity: .9;
              }
              .good {
                display: block;
                text-align: left;
                max-width: 220px;
                float: right;
                line-height: 19px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
              >P {
                &:nth-of-type(1) {
                  font-size: 22px;
                  color: #333333;
                  margin: 15px 0 0 0;
                }
                &:nth-of-type(2) {
                  display: block;
                  color: #b6b6b6;
                  font-size: 12px;
                  height: 19px;
                  span {
                    display: inline-block;
                    height: 19px;
                    line-height: 19px;
                  }
                  line-height: 19px;
                }
                &:nth-of-type(3) {
                  margin-top: 15px;
                  span {
                    display: inline-block;
                    &:nth-of-type(1) {
                      height: 1px;
                      float: left;
                      width: 40%;
                      border-top: 1px dashed #dbdbdb;
                    }
                    &:nth-of-type(3) {
                      float: left;
                      width: 40%;
                      height: 1px;
                      border-top: 1px dashed #dbdbdb;
                    }
                  }
                  .branch {
                    float: left;
                    margin: -7px 0 0 0;
                    width: 55px;
                    height: 16px;
                    line-height: 16px;
                    text-align: center;
                    color: #FFF;
                    font-size: 12px;
                    em {
                      border-radius: 4px;
                      padding: 0 10px;
                      background-color: #ffa800;
                    }
                  }
                }
                &:nth-last-of-type(1) {
                  overflow: hidden;
                  margin-top: 40px;
                  span {
                    display: block;
                    width: 70px;
                    padding: 0 10px;
                    margin: 0 27px 0 0;
                    float: left;
                    text-align: center;
                    height: 75px;
                    &:nth-last-of-type(1) {
                      margin: 0;
                    }
                    i:nth-of-type(1) {
                      position: relative;
                      display: block;
                      width: 50px;
                      height: 50px;
                      text-align: center;
                      line-height: 50px;
                      border: 1px solid #bbbaba;
                      border-radius: 50%;
                      &:after {
                        content: "";
                        position: absolute;
                        border-radius: 50%;
                        z-index: 10;
                        right: -4px;
                        bottom: -2px;
                        width: 20px;
                        height: 20px;
                      }
                    }
                    i:nth-of-type(2) {
                      margin: 5px 0 0 0;
                      display: block;
                      color: #333333;
                      font-size: 12px;
                    }
                    .year {
                      color: #dd4f50;
                      &:after {
                        background: url('../img/year.png') no-repeat center;
                      }
                    }
                    .addr {
                      color: #2faeff;
                      font-size: 12px;
                      &:after {
                        background: url('../img/address.png') no-repeat center;
                      }
                    }
                    .cases {
                      color: #00c7a9;
                      &:after {
                        background: url('../img/case.png') no-repeat center;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &:nth-last-of-type(1) {
          float: left;
          border-radius: 4px;
          overflow: hidden;
          width: 560px;
          height: 100%;
          position: relative;
          img {
            border: 0;
            width: 100%;
            height: 100%;
          }
          >div {
            height: 190px;
            position: absolute;
            z-index: 10;
            width: 100%;
            height: 190px;
            bottom: 0px;
            left: 0;
            display: block;
            padding: 20px;
            box-sizing: border-box; // transition: all 0.5s;
            // &:hover {
            //   bottom: 0px;
            // }
            &:after {
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              bottom: 0;
              left: 0;
              background: #FFF;
              opacity: .9;
              z-index: -1;
            }
            h3 {
              &:nth-of-type(1) {
                color: #333333;
                font-size: 15px;
              }
              &:nth-of-type(2) {
                overflow: hidden;
                border-bottom: 1px solid #dbdbdb;
                padding: 20px 0;
                dl {
                  float: left;
                  width: 215px;
                  dt {
                    font-size: 14px;
                    color: #333333;
                    margin-bottom: 10px;
                  }
                  dd {
                    color: #7d7d7d;
                    font-size: 12px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2; //第二行省略号
                    -webkit-box-orient: vertical;
                  }
                }
                P {
                  margin: 0 44px;
                  float: left;
                  height: 60px;
                  border-right: 1px solid #dbdbdb;
                }
              }
              &:nth-of-type(3) {
                clear: both;
                width: 100%;
                padding: 10px 0;
                text-align: center;
                overflow: hidden;
                a {
                  float: left;
                  width: 100px;
                  text-align: center;
                  height: 23px;
                  line-height: 10px;
                  border: 1px solid #FFF;
                  border-radius: 14px;
                  font-size: 12px;
                  display: block;
                  line-height: 20px;
                  &:nth-of-type(1) {
                    border-color: #dbdbdb;
                    background-color: #ffffff;
                    color: #7d7d7d;
                    font-size: 12px;
                    margin: 0 0 0 80px;
                  }
                  &:nth-of-type(2) {
                    margin: 0 10px;
                    border-color: #dd4f50;
                    background-color: #ffffff;
                    color: #dd4f50;
                    font-size: 12px;
                  }
                  &:nth-of-type(3) {
                    background-color: #dd4f50;
                    border-color: #dd4f50;
                    color: #ffffff;
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.case {
  div {
    width: 1300px;
    margin: 0 auto;
  }
  padding: 0px 0 40px 0;
  margin: 0px 0 0 0;
  width: 100%;
  background: #FFF;
  min-height: 400px;
  .list {
    width: 310px;
    height: 310px;
    border: 0;
    border-radius: 4px;
    background: #FFF;
    overflow: hidden;
    position: relative;
    float: left;
    margin: 0 20px 20px 0;
    transition: all 0.3s;
    &:nth-of-type(4n) {
      margin: 0 0 20px 0;
      &:hover {
        // margin-top: -2px ;
      }
    }
    &:hover {
      box-shadow: 0px 0px 18px #888888; // margin-top: -2px;
      padding: -10px 0 0 0; //向上移动位置错乱
      transform: translateY(-2px);
      .bot {
        background: #FFF;
      }
    }
    .top {
      position: relative;
      width: 310px;
      height: 180px;
      .vr {
        // content: "";
        position: absolute;
        top: 10px;
        left: 8px; // background: url("../img/quanjing.png") no-repeat center;
        z-index: 4;
        width: 94px;
        height: 24px;
        >img {
          width: 100%;
          height: 100%;
        }
      }
      >span {
        position: absolute;
        bottom: 13px;
        left: 10px;
        font-size: 12px;
        color: #b4ada8;
        i {
          float: left;
          display: block;
          width: 16px;
          height: 16px;
          background: no-repeat center;
        }
        .gray {
          background-image: url("../img/xiaoxingkong.png");
        }
        .yellow {
          background-image: url("../img/xiaoxinghuang.png");
        }
      }
      a {
        cursor: pointer;
      }
      .img {
        width: 100%;
        height: 100%;
      }
    }
    .bot {
      width: 310px;
      height: 129px;
      background-color: #f3f4f7;
      position: relative; // overflow: hidden;
      .portrait {
        position: absolute;
        top: -25px;
        left: 50%;
        margin-left: -25px;
        padding: 3px;
        padding: 2px;
        background: #FFF; // border: 2px solid #FFF;
        border-radius: 50%;
        overflow: hidden;
        width: 50px;
        height: 50px;
        img {
          width: 100%;
          height: 100%;
          border: 0;
          border-radius: 50%;
        }
      }
      .der {
        padding: 36px 20px 0 20px;
        width: 100%;
        overflow: hidden;
        p {
          width: 100%;
          &:nth-of-type(1) {
            font-size: 12px;
            text-align: center;
            color: #333333;
          }
          &:nth-of-type(2) {
            margin-top: 10px; // height: 20px;
            font-size: 12px;
            text-align: center;
          }
        }
        .name {
          margin: 10px 0 0 0;
          padding: 10px 0 0 0;
          >span {
            height: 0;
            border: 1px dashed #dbdbdb;
            display: block;
            float: left;
            width: 37%;
          }
          .dname {
            float: left;
            display: block;
            margin: -8px 0 0 0;
            width: 66px;
            height: 16px;
            border: 0;
            line-height: 16px;
            text-align: center;
            background-color: #b6b6b6;
            border-radius: 4px;
            color: #ffffff;
            font-size: 12px;
          }
        }
        .bottom {
          width: 100%;
          margin: 30px 0 0 0;
          overflow: hidden;
          height: 20px;
          line-height: 20px;
          i {
            display: block;
            width: 18px;
            height: 18px;
            background-position: bottom;
            background-repeat: no-repeat;
            float: left;
            cursor: pointer;
          }
          >span {
            display: inline-block; // margin: 0 10px 0 0;
            // text-indent: 15px;
            em {
              margin: 0 0 0 0px;
              font-size: 12px;
              color: #b6b6b6;
            }
          }
          .look {
            float: left;
            margin: 1px 5px 0 0;
            background: url("../img/xiaoliulan.png") no-repeat center;
          }
          .like {
            float: left;
            margin: 2px 5px 0 5px;
            background: url("../img/xiaoguanzhu.png") no-repeat center;
          }
          .nolike {
            float: left;
            margin: 2px 5px 0 5px;
            background: url("../img/xiaoguanzhu.png") no-repeat center;
          }
          .right {
            float: right;
            i {
              float: left;
              margin: 1px 5px 0 5px;
              background: url("../img/xiaoriqi.png") no-repeat center;
            }
          }
        }
      }
    }
  } // .rightmost {
  //   margin: 0;
  // }
  .more {
    clear: both;
    width: 100%;
    text-align: center;
    padding: 20px 0 0 0;
    span {
      display: block; // padding: 5px 16px;
      width: 100px;
      margin: 0 auto;
      text-align: center;
      border-radius: 16px;
      cursor: pointer;
      font-size: 12px;
    }
    .yes {
      border: solid 1px #dd4f50;
      color: #dd4f50;
      background: #FFF;
    }
    .no {
      display: none;
      background-color: #f3f4f7;
    }
  }
}
