#slider {
  position: fixed;
  z-index: 19!important;
}

.nav-list {
  width: 100%;
  height: 150px;
  background-color: #f3f4f7;
  .title {
    width: 1300px;
    margin: 0 auto;
    padding: 20px 0;
    >span {
      color: #7d7d7d;
      font-size: 12px;
      em {
        padding: 0 10px;
      }
      >a {
        color: #7d7d7d;
        font-size: 12px;
      }
    }
  }
  .list {
    background: #FFF;
    width: 1300px;
    height: 90px;
    margin: 0 auto;
    margin-top: 3px;
    border-radius: 4px;
    border: 0;
    box-sizing: border-box;
    .active {
      background: #dd4f50;
      color: #FFF;
      >a {
        color: #FFF;
      }
    }
    >dl {
      float: left;
      width: 100%;
      padding: 12px 0;
      border-bottom: 1px dashed #dbdbdb;
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0px;
      color: #333333;
      dt {
        float: left;
        padding: 0 15px;
        border-right: 1px solid #dbdbdb;
        margin: 0 15px 0 0;
      }
      dd {
        float: left;
        padding: 0 6px;
        border: 0;
        border-radius: 4px;
        margin: 0 10px 0 0;
        >a {
          color: #333333;
        }
        color: #333333;
        cursor: pointer;
        &:hover {
          background: #dd4f50;
          color: #FFF;
          >a {
            color: #FFF;
          }
        }
      }
    }
  }
}

.condition {
  display: inline-block;
  padding: 0px 12px 0px 10px;
  border-radius: 4px;
  margin: 0 10px;
  text-align: center;
  background-color: #f3f4f7;
  border: solid 1px #dbdbdb;
  >i {
    cursor: pointer;
    display: block;
    width: 8px;
    height: 8px;
    background: url("../img/shanchu.png") no-repeat center;
    margin: 7px 0 0 5px;
    float: right;
  }
  em {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 20px;
    letter-spacing: 0px;
    color: #7d7d7d;
  }
}

.main {
  width: 100%;
  background: #FFF;
  overflow: hidden;
  .mark {
    color: #dd4f50;
  }
  .default {
    width: 1300px;
    margin: 0 auto;
    padding: 20px 0;
    >p {
      width: 100%;
      text-align: center;
      &:nth-of-type(1) {
        color: #333333;
        font-size: 22px;
        text-align: center;
        font-family: '宋体';
      }
      &:nth-of-type(2) {
        margin: 10px 0 0 0;
        color: #b6b6b6;
        font-size: 12px;
      }
    }
  }
  .conditions {
    width: 1300px;
    margin: 0 auto;
    padding: 20px 0;
    >P {
      width: 100%;
      text-align: center;
      &:nth-of-type(1) {
        color: #333333;
        font-size: 22px;
        text-align: center;
        font-family: '宋体';
      }
      &:nth-of-type(2) {
        margin: 10px 0 0 0;
      }
    }
  }
  .main-box {
    width: 1300px;
    padding: 0 0 40px 0;
    margin: 0 auto;
    overflow: hidden;
    .left {
      width: 1040px;
      float: left;
      .lists {
        margin: 20px 0 0 0;
        .list {
          float: left;
          margin: 0 20px 20px 0;
          &:nth-of-type(4n) {
            margin-right: 0;
          }
          border: 0;
          border-radius: 4px;
          width: 244px;
          height: 450px;
          overflow: hidden;
          transition: all 0.3s;
          &:hover {
            box-shadow: 0px 0px 15px #888;
            transform: translateY(-2px);
            .footer {
              background-color: #FFF;
            }
          }
          .detailed {
            float: left; // display: block;
            width: 100%;
            height: 100%;
          }
          .img {
            width: 100%;
            height: 244px
          }
          .footer {
            width: 100%;
            height: 206px;
            position: relative;
            float: left;
            background-color: #f3f4f7;
            .name {
              width: 204px;
              height: 40px;
              line-height: 40px;
              text-align: center;
              background: #FFF;
              color: #333333;
              position: absolute;
              top: -20px;
              left: 20px;
              border-radius: 20px;
              background-color: #ffffff;
              box-shadow: 0px 5px 5px 0px #ddd;
            }
            >ol {
              padding: 30px 20px 0px 20px;
              box-sizing: border-box;
              margin: 0 0 15px 0;
              width: 100%;
              overflow: hidden;
              >li {
                width: 100%;
                clear: both;
                padding: 3px 0;
                overflow: hidden;
                &:nth-last-of-type(1) {
                  padding-bottom: 10px;
                  border-bottom: 1px dashed #dbdbdb;
                }
                >span {
                  i {
                    display: block;
                    float: left;
                    width: 8px;
                    height: 8px;
                    border: 0;
                    border-radius: 50%;
                    background-color: #dbdbdb;
                    margin: 5px 5px 0 0;
                  }
                  em {
                    float: left;
                    color: #b6b6b6;
                    font-size: 12px;
                  }
                }
                b {
                  margin-left: 10px;
                  width: 150px;
                  display: block;
                  float: left;
                  font-size: 12px;
                  color: #333333;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  >i {
                    display: block;
                    width: 10px;
                    height: 10px;
                    float: left;
                    margin: 0 5px 0 0;
                    background-repeat: no-repeat;
                    background-position: center;
                    margin: 3px 5px 0 0; // background-color: red;
                  }
                  .gray {
                    background-image: url("../img/xiaoxingkong.png");
                  }
                  .yellow {
                    background-image: url("../img/xiaoxinghuang.png");
                  }
                }
              }
            }
            p {
              display: block;
              .personal {
                display: inline;
              }
              margin: 0 auto;
              height: 24px;
              line-height: 24px;
              width: 100px;
              text-align: center;
              background-color: #dd4f50;
              color: #FFF;
              border: 0;
              border-radius: 12px;
            }
          }
        }
      }
    }
    .right {
      float: right;
      >div {
        // width: 100%;
        overflow: hidden;
        margin: 0 0 20px 0;
        width: 240px;
        height: 452px;
        >img {
          width: 100%;
          height: 100%;
          border-radius: 4px;
          border: 0;
        }
      }
    }
  }
  .sort {
    height: 40px;
    line-height: 40px;
    background-color: #f3f4f7;
    border-radius: 4px;
    >span {
      display: block;
      float: left;
      height: 40px;
      line-height: 40px;
      padding: 0 13px;
      border-right: 1px solid #FFF;
      cursor: pointer;
      em {
        float: left;
        font-size: 12px;
      }
      i {
        margin: 15px 0 0 5px;
        float: left;
        display: block;
        width: 10px;
        height: 10px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .def {
      i {
        background-image: url("../img/shenghui.png");
      }
    }
    .des {
      color: #dd4f50;
      i {
        background-image: url("../img/shenghong.png");
      }
    }
    .asc {
      color: #dd4f50;
      i {
        background-image: url("../img/jianghong.png");
      }
    }
  }
  .more {
    clear: both;
    width: 100%;
    text-align: center;
    padding: 20px 0 0 0;
    span {
      display: block;
      width: 100px;
      margin: 0 auto;
      text-align: center; //   padding: 5px 16px;
      border-radius: 16px;
      cursor: pointer;
      font-size: 12px;
    }
    .yes {
      border: solid 1px #dd4f50;
      color: #dd4f50;
      background: #FFF;
    }
    .no {
      display: none;
      background-color: #f3f4f7;
    }
  }
}
