    #slider {
        position: fixed;
        z-index: 19!important;
    } //banner板块
    .banner-box {
        width: 100%;
        height: 544px;
        background: #ccc; // border: 1px solid #000;
        position: relative;
        .banner {
            height: 100%;
            width: 100%;
            position: relative;
            li {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: none;
                a {
                    display: block;
                    width: 100%;
                    height: 100%; // background: url('../img/banner1.jpg') no-repeat center;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                &:nth-of-type(1) {
                    display: block;
                }
            }
        }
        .banner-circle {
            position: absolute;
            left: 50%;
            bottom: 100px;
            width: 200px; // background: #ccc;
            z-index: 3;
            height: 20px;
            div {
                width: 10px;
                height: 10px;
                border-radius: 5px;
                background: rgba(255, 255, 255, 0.4);
                float: left;
                margin: 0 5px;
                cursor: pointer;
            }
            .on {
                background: #fff;
                width: 30px;
            }
        }
        .system {
            //系统板块
            width: 1300px;
            height: 160px;
            position: absolute;
            left: 50%;
            top: 465px;
            margin-left: -650px;
            z-index: 2;
            ul {
                height: 100%;
                .system-list {
                    width: 412px;
                    float: left;
                    height: 100%;
                    position: relative;
                    padding: 36px 0 0 30px;
                    background: #fff;
                    margin-right: 30px;
                    cursor: pointer;
                    transition: all 0.5s;
                    border-radius: 2px; // box-shadow: 1px 1px 2px rgba();
                    .rank-bac {
                        width: 16px;
                        height: 20px;
                        position: absolute;
                        top: 0;
                        left: 30px;
                    }
                    &:nth-of-type(1) .rank-bac {
                        background: url('../img/1.png') no-repeat center;
                    }
                    &:nth-of-type(2) .rank-bac {
                        background: url('../img/2.png') no-repeat center;
                    }
                    &:nth-of-type(3) .rank-bac {
                        background: url('../img/3.png') no-repeat center;
                    }
                    .text-info {
                        float: left;
                        width: 230px;
                        title {
                            width: 230px;
                            height: 22px;
                            font-size: 22px;
                            line-height: 26px;
                            color: #333333;
                            margin-bottom: 10px;
                        }
                        .content {
                            width: 230px;
                            font-size: 12px;
                            line-height: 16px;
                            color: #7d7d7d;
                            margin-bottom: 20px;
                        }
                        .use-btn {
                            display: block;
                            width: 86px;
                            height: 24px;
                            background-color: #fff;
                            border-radius: 12px;
                            font-size: 12px;
                            color: #7d7d7d;
                            text-align: center;
                            line-height: 24px;
                            position: relative;
                            border: 1px solid #dbdbdb;
                            cursor: pointer;
                            &:after {
                                content: "";
                                width: 0;
                                height: 0;
                                border: 4px solid transparent;
                                border-left: 4px solid #b6b6b6;
                                position: absolute;
                                top: 8px;
                                right: 8px;
                            } 
                        }
                    }
                    &:hover .text-info .use-btn {
                        background-color: #dd4f50;
                        border: none;
                        color: #fff;
                        &::after {
                            border-left: 4px solid #fff;
                        }
                    }
                    &:hover {
                        box-shadow: 0 10px 15px rgba(0, 0, 0, .1); // box-shadow: 0px 0px 15px #888;
                        transform: translateY(-2px);
                    }
                    .img-box {
                        float: left;
                        width: 80px;
                        height: 80px; // border: 1px solid #ccc;
                        margin-left: 40px;
                        img {
                            width: 100%;
                        }
                    }
                }
                .last {
                    margin-right: 0;
                }
            }
        }
    } //设计库部分
    .design-box {
        width: 100%;
        position: relative;
        background: url('../img/bolang.png') no-repeat top left;
        overflow: hidden; // height: 1728px;
        min-height: 1116px;
        padding: 160px 0 86px 0;
        .design-lib {
            width: 1300px;
            margin: 0 auto;
            .title {
                height: 36px;
                line-height: 36px;
                margin-bottom: 6px;
                text-align: center;
                font-size: 24px;
            }
            .descrip {
                font-size: 12px;
                color: #b6b6b6;
                margin-bottom: 18px;
                text-align: center;
                font-family: "宋体";
            }
            .design-style {
                width: 100%;
                height: 16px;
                line-height: 16px;
                font-size: 12px;
                margin-bottom: 14px;
                .circle {
                    float: left;
                    height: 6px;
                    width: 6px;
                    border-radius: 50%;
                    background-color: #dbdbdb;
                    margin-top: 6px;
                }
                .line {
                    float: left;
                    width: 374px;
                    margin-top: 9px;
                    height: 1px;
                    border-bottom: 1px solid #dbdbdb;
                }
                .styles {
                    float: left;
                    min-width: 100px;
                    margin: 0 20px;
                    a {
                        color: #333;
                        padding: 0 14px;
                        border-right: 1px solid #d5d5d5;
                    }
                    .more-design {
                        color: #dd4f50;
                        border-right: 0;
                        padding-right: 0;
                    }
                    .find-design {
                        position: relative;
                        &:after {
                            content: '';
                            position: absolute;
                            width: 22px;
                            height: 16px;
                            background: url('../img/zhao.png') no-repeat center;
                            right: 4px;
                            top: -10px;
                        }
                    }
                }
            }
            .design-lists {
                overflow: hidden;
                .design-list {
                    width: 430px;
                    height: 250px;
                    border-radius: 4px;
                    background: #ccc;
                    overflow: hidden;
                    float: left;
                    margin: 0 4px 5px 0;
                    position: relative;
                    .design-bac {
                        position: absolute;
                        width: 38px;
                        height: 42px;
                        left: 15px;
                        top: 0;
                        background: url('../img/tuijian.png') no-repeat center;
                    }
                    .img-box {
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        img {
                            width: 100%;
                        }
                    }
                    .hov-box {
                        width: 100%;
                        height: 84px;
                        border-radius: 4px;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        .bg-white {
                            transition: all .5s;
                            width: 100%;
                            height: 84px;
                            position: absolute;
                            left: 0;
                            bottom: -84px;
                            background: rgba(255, 255, 255, 0.9);
                            z-index: 1;
                        }
                        .bg-black {
                            @extend .bg-white;
                            bottom: 0;
                            background: url('../img/jianbian.png') repeat-x center;
                        }
                        .hover-a {
                            // transition: all 1s;
                            display: block;
                            width: 100%;
                            position: absolute;
                            height: 84px; // padding: 17px 15px 0 17px;
                            // background: url('../img/jianbian.png') repeat-x center;
                            z-index: 2;
                            .pic-num {
                                padding: 2px 10px;
                                border-radius: 4px;
                                font-size: 12px;
                                color: #b6b6b6;
                                border: 1px solid #b6b6b6;
                                position: absolute;
                                bottom: 15px;
                                right: 17px;
                                z-index: 1;
                            }
                            .detail-href {
                                display: none;
                                width: 62px;
                                height: 24px;
                                line-height: 24px;
                                text-indent: -4px;
                                background-color: #dd4f50;
                                font-size: 12px;
                                color: #fff;
                                text-align: center;
                                border-radius: 12px;
                                position: absolute;
                                right: 15px;
                                bottom: 15px;
                                z-index: 2;
                                &:after {
                                    content: "";
                                    width: 0;
                                    border: 4px solid transparent;
                                    border-left: 4px solid #fff;
                                    position: absolute;
                                    right: 8px;
                                    top: 9px;
                                }
                            }
                            .portrit-box {
                                width: 50px;
                                height: 50px;
                                float: left;
                                border-radius: 50%;
                                margin: 17px;
                                overflow: hidden;
                                img {
                                    width: 100%;
                                }
                            }
                            .info-box {
                                float: left;
                                margin-top: 10px;
                                width: 260px;
                                font-size: 12px;
                                height: 0;
                                .hov-title {
                                    font-size: 18px;
                                    color: #fff;
                                    margin-bottom: 6px;
                                }
                                .designer {
                                    span {
                                        color: #fff;
                                        padding-right: 10px;
                                    }
                                    i {
                                        color: #b6b6b6;
                                    }
                                }
                                .design-desc {
                                    color: #b6b6b6;
                                }
                            }
                        }
                        &:hover .bg-white {
                            bottom: 0;
                        }
                        &:hover .hover-a {
                            background: none;
                        }
                        &:hover .detail-href {
                            display: block;
                        }
                        &:hover .info-box .hov-title {
                            color: #333;
                        }
                        &:hover .info-box .designer span {
                            color: #333;
                        }
                    }
                }
                .design-list:nth-of-type(3) {
                    margin-right: 0;
                }
                .design-list:nth-of-type(4) {
                    width: 865px;
                    height: 505px;
                }
                .design-list:nth-of-type(5),
                .design-list:nth-of-type(6) {
                    margin-right: 0;
                }
            }
        }
    } //找装修
    .decorate-box {
        width: 100%;
        height: 618px;
        background: url('../img/zhaozhuangxiu-bg.jpg') no-repeat center;
        .design-lib {
            width: 1300px;
            margin: 0 auto;
            padding-top: 80px;
            .title {
                height: 36px;
                line-height: 36px;
                margin-bottom: 8px;
                text-align: center;
                font-size: 36px;
            }
            .descrip {
                font-size: 12px;
                color: #b6b6b6;
                margin-bottom: 18px;
                text-align: center;
                font-family: "宋体";
            }
            .design-style {
                width: 100%;
                height: 16px;
                line-height: 16px;
                font-size: 12px;
                margin-bottom: 14px;
                .circle {
                    float: left;
                    height: 6px;
                    width: 6px;
                    border-radius: 50%;
                    background-color: #dbdbdb;
                    margin-top: 7px;
                }
                .line {
                    float: left;
                    width: 374px;
                    margin-top: 9px;
                    height: 1px;
                    border-bottom: 1px solid #dbdbdb;
                }
                .styles {
                    float: left;
                    min-width: 100px;
                    margin: 0 20px;
                    a {
                        color: #333;
                        padding: 0 14px;
                        border-right: 1px solid #d5d5d5;
                    }
                    .more-design {
                        color: #dd4f50;
                        border-right: 0;
                        padding-right: 0;
                    }
                }
            }
            .company-lists {
                .company-logo {
                    width: 154px;
                    height: 60px; // border: solid 1px #000000;
                    border-radius: 4px;
                    cursor: pointer;
                    position: relative;
                    float: left;
                    margin: 0 9px 10px 0;
                    background: #959798;
                    .img-box {
                        width: 150px;
                        height: 56px;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        overflow: hidden;
                        img {
                            width: 100%;
                        }
                    }
                    .hov-img-box {
                        @extend .img-box;
                        z-index: 2;
                        display: none;
                    }
                    &:hover {
                        background: #fff;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                    }
                    &:hover .img-box {
                        display: none;
                    }
                    &:hover .hov-img-box {
                        display: block;
                    }
                }
                .company-logo:nth-of-type(8n) {
                    margin-right: 0;
                }
            }
            .company-info {
                clear: both;
                width: 100%;
                height: 206px;
                background: #fff;
                padding: 30px 166px;
                padding-bottom: 0;
                position: relative;
                &::after {
                    content: '';
                    height: 0;
                    display: block;
                    border: 6px solid transparent;
                    border-bottom: 6px solid #fff;
                    position: absolute;
                    top: -12px;
                    left: 640px;
                }
                .company-name {
                    width: 100%;
                    text-align: center;
                    font-size: 22px;
                    margin-bottom: 8px;
                }
                .valuate {
                    width: 100%;
                    height: 16px;
                    .dash-line {
                        float: left;
                        width: 414px;
                        height: 1px;
                        border-bottom: 1px dashed #dbdbdb;
                        margin-top: 8px;
                    }
                    .star-box {
                        width: 104px;
                        margin: 0 12px;
                        float: left;
                        text-align: center;
                        span {
                            display: block;
                            float: left;
                            width: 16px;
                            height: 16px;
                            background: url('../img/xing.png') no-repeat center;
                            margin-right: 5px;
                        }
                        .last {
                            margin-right: 0;
                        }
                    }
                }
                .company-general {
                    width: 480px;
                    float: left;
                    padding-top: 20px;
                    .general-list {
                        width: 50px;
                        height: 70px;
                        float: left;
                        margin-right: 50px;
                        .num-box {
                            width: 50px;
                            height: 50px;
                            position: relative;
                            margin-bottom: 2px;
                            span {
                                display: block;
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                                border: solid 1px #b6b6b6;
                                text-align: center;
                                line-height: 50px;
                                color: #ffa800;
                            }
                            i {
                                display: block;
                                width: 20px;
                                height: 20px;
                                line-height: 20px;
                                border-radius: 50%;
                                color: #fff;
                                position: absolute;
                                right: -6px;
                                bottom: 0;
                                font-size: 12px;
                                text-align: center;
                            }
                        }
                        .list-name {
                            font-size: 12px;
                            color: #333;
                            text-align: center;
                        }
                    }
                    .general-list:nth-of-type(1) i {
                        background: #ffa800;
                    }
                    .general-list:nth-of-type(2) i {
                        background: #00c7a9;
                    }
                    .general-list:nth-of-type(3) i {
                        background: #2faeff;
                    }
                    .general-list:nth-of-type(4) i {
                        background: #dd4f50;
                    }
                }
                .verti-line {
                    float: left;
                    width: 1px;
                    height: 72px;
                    border-right: solid 1px #dbdbdb;
                    margin: 20px 0 0 0;
                }
                .right-box {
                    width: 410px;
                    float: left;
                    margin: 20px 0 0 50px;
                    .descrip-gen {
                        width: 312px; // height: 70px;
                        line-height: 1.6em;
                        height: 6em;
                        overflow: hidden;
                        float: left;
                        font-size: 12px;
                        position: relative;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                        span {
                            color: #333;
                            padding-right: 16px;
                        }
                        i {
                            color: #7d7d7d;
                        } // &:after{
                        //   content:"...";
                        //   font-size: 12px;
                        //   color: #7d7d7d;
                        //   width: 36px;
                        //   height: 14px;
                        //   position:absolute;
                        //   bottom:0;
                        //   right:0;
                        //   padding:0 0 4px 0;
                        //   background: #fff;
                        // }
                    }
                    .company-more {
                        width: 50px;
                        height: 70px;
                        float: right;
                        cursor: pointer;
                        .pic-bg {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            background: url('../img/gengduo.png') no-repeat center;
                            background-color: #dbdbdb;
                            ;
                        }
                        .more-text {
                            font-size: 12px;
                            text-align: center;
                            padding-top: 4px;
                            color: #333;
                        }
                        &:hover .pic-bg {
                            background: url('../img/gengduo-hong.png') no-repeat center;
                        }
                    }
                }
            }
        }
    } //买材料
    .material-box {
        width: 100%;
        height: 1000px;
        .material {
            width: 1300px;
            margin: 0 auto;
            padding-top: 80px;
            .title {
                margin-bottom: 6px;
                width: 100%;
                text-align: center;
                font-size: 36px;
            }
            .descrip {
                width: 100%;
                text-align: center;
                font-size: 12px;
                font-family: "宋体";
                margin-bottom: 18px;
                color: #b6b6b6;
            }
            .design-style {
                width: 100%;
                height: 16px;
                line-height: 16px;
                font-size: 12px;
                margin-bottom: 14px;
                .circle {
                    float: left;
                    height: 6px;
                    width: 6px;
                    border-radius: 50%;
                    background-color: #dbdbdb;
                    margin-top: 7px;
                }
                .line {
                    float: left;
                    width: 374px;
                    margin-top: 9px;
                    height: 1px;
                    border-bottom: 1px solid #dbdbdb;
                }
                .styles {
                    float: left;
                    min-width: 100px;
                    margin: 0 20px;
                    a {
                        color: #333;
                        padding: 0 14px;
                        border-right: 1px solid #d5d5d5;
                    }
                    .more-design {
                        color: #dd4f50;
                        border-right: 0;
                        padding-right: 0;
                    }
                }
            }
            .mater-lists {
                width: 100%;
                padding-top: 18px;
                .mater-list {
                    width: 430px;
                    height: 506px;
                    float: left;
                    position: relative;
                    margin: 0 5px 5px 0;
                    .img-box {
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        img {
                            width: 100%;
                        }
                    }
                    .buy-btn {
                        width: 86px;
                        height: 24px;
                        line-height: 24px;
                        border-radius: 12px;
                        background: #fff; // left: 50%;
                        // top: 50%;
                        // margin-left: -43px;
                        // margin-top: -12px;
                        position: absolute;
                        left: 172px;
                        top: 226px;
                        text-align: center;
                        font-size: 12px;
                        color: #7d7d7d;
                        text-indent: -4px;
                        &:after {
                            content: '';
                            width: 0;
                            border: 4px solid transparent;
                            border-left: 4px solid #7d7d7d;
                            position: absolute;
                            top: 8px;
                            right: 8px;
                        }
                    }
                    &:hover .buy-btn {
                        background-color: #dd4f50;
                        color: #fff;
                        &::after {
                            border-left: 4px solid #fff;
                        }
                    }
                }
                .mater-list:nth-of-type(2n) {
                    height: 250px;
                    .buy-btn {
                        top: 191px;
                        background: rgba(0, 0, 0, 0.3);
                        color: #fff;
                        &:after {
                            border-left: 4px solid #fff;
                        }
                    }
                    &:hover .buy-btn {
                        background-color: #dd4f50;
                        color: #fff;
                        &::after {
                            border-left: 4px solid #fff;
                        }
                    }
                }
                .mater-list:nth-of-type(3n) {
                    margin-right: 0;
                }
                .mater-list:nth-of-type(5) {
                    margin-top: -256px;
                }
            }
        }
    } //合作伙伴
    .cooperate-box {
        width: 100%;
        height: 440px;
        .cooperate {
            padding-top: 75px;
            width: 1300px;
            margin: 0 auto;
            .title {
                height: 36px;
                line-height: 36px;
                margin-bottom: 6px;
                text-align: center;
                font-size: 36px;
            }
            .design-style {
                width: 100%;
                height: 16px;
                line-height: 16px;
                font-size: 12px;
                margin-bottom: 14px;
                .circle {
                    float: left;
                    height: 6px;
                    width: 6px;
                    border-radius: 50%;
                    background-color: #dbdbdb;
                    margin-top: 7px;
                }
                .line {
                    float: left;
                    width: 374px;
                    margin-top: 9px;
                    height: 1px;
                    border-bottom: 1px solid #dbdbdb;
                }
                .styles {
                    float: left;
                    min-width: 100px;
                    margin: 0 20px;
                    font-family: "宋体";
                    text-align: center;
                    color: #b6b6b6;
                }
            }
            .cooperate-logos {
                margin-top: 20px;
                overflow: hidden;
                border: 1px solid #f3f4f7;
                max-height: 242px;
                .cooperate-logo {
                    width: 186px;
                    height: 120px;
                    background: #f3f4f7;
                    float: left;
                    cursor: pointer;
                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: relative;
                        .img-box {
                            width: 180px;
                            height: 120px;
                            overflow: hidden;
                            position: absolute;
                            left: 0;
                            top: 0;
                            bottom: 0;
                            right: 0;
                            margin: auto;
                        }
                        img {
                            width: 100%;
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            top: 0;
                            margin: auto;
                        }
                    }
                }
                .cooperate-logo:nth-of-type(2n) {
                    background: #fff;
                }
                .cooperate-logo:nth-of-type(7n) {
                    width: 182px;
                }
            }
        }
    } //装修咨询
    .advisory-box {
        width: 100%;
        height: 700px;
        background: url('../img/zhuangxiuzixun.jpg') no-repeat center;
        // background-size: cover;
        .advisory {
            width: 1300px;
            margin: 0 auto;
            padding-top: 80px;
            .title {
                height: 36px;
                line-height: 36px;
                margin-bottom: 6px;
                text-align: center;
                font-size: 36px;
            }
            .descrip {
                font-size: 12px;
                color: #b6b6b6;
                margin-bottom: 14px;
                padding-top: 10px;
                text-align: center;
                font-family: "宋体";
            }
            .design-style {
                width: 100%;
                height: 16px;
                line-height: 16px;
                font-size: 12px;
                margin-bottom: 14px;
                .circle {
                    float: left;
                    height: 6px;
                    width: 6px;
                    border-radius: 50%;
                    background-color: #dbdbdb;
                    margin-top: 7px;
                }
                .line {
                    float: left;
                    width: 600px;
                    margin-top: 9px;
                    height: 1px;
                    border-bottom: 1px solid #dbdbdb;
                }
                .styles {
                    float: left;
                    width: 48px;
                    margin: 0 20px;
                    font-family: "宋体";
                    text-align: center;
                    color: #dd4f50;
                }
            }
            .advisory-lists {
                padding-top: 20px;
                .advisory-list {
                    float: left;
                    background: #fff;
                    border-radius: 4px;
                    height: 346px;
                    position: relative;
                    margin-right: 30px;
                    transition: all .5s;
                    &:hover{
                      // box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
                     box-shadow:  0 15px 30px rgba(0,0,0,.1);
                      // box-shadow: 0px 0px 15px #888;
                      transform: translateY(-2px);
                    }
                    .header {
                        height: 64px;
                        line-height: 64px;
                        text-align: center;
                        padding-bottom: 10px;
                        border-bottom: solid 1px #dbdbdb;
                        i {
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            vertical-align: sub;
                        }
                        em {
                            font-size: 22px;
                            color: #333;
                        }
                    }
                    .content {
                        padding: 14px 30px;
                    }
                    .more-btn {
                        display: block;
                        width: 86px;
                        height: 24px;
                        line-height: 24px;
                        text-align: center;
                        color: #fff;
                        background: #dd4f50;
                        border-radius: 12px;
                        position: absolute;
                        left: 50%;
                        margin-left: -43px;
                        bottom: -12px;
                        font-size: 12px;
                        z-index: 2;
                        text-indent: -10px;
                        &:after {
                            content: '';
                            width: 0;
                            border: 4px solid transparent;
                            border-left: 4px solid #fff;
                            position: absolute;
                            right: 8px;
                            top: 8px;
                        }
                    }
                }
                .advisory-list:nth-of-type(1) {
                    width: 310px;
                    .header i {
                        background: url('../img/jiajuredain.png') no-repeat center;
                    }
                    .content {
                        .img-box {
                            width: 250px;
                            height: 102px;
                            overflow: hidden;
                            margin-bottom: 13px;
                        }
                        .dash-line {
                            height: 1px;
                            width: 100%;
                            border-bottom: dashed 1px #dbdbdb;
                        }
                        .hot-lists {
                            width: 250px;
                            overflow: hidden;
                            padding-top: 10px;
                            .hot-list {
                                float: left;
                                width: 100%;
                                height: 26px;
                                line-height: 26px;
                                cursor: pointer;
                                .list-info {
                                    width: 200px;
                                    position: relative;
                                    float: left;
                                    .infos {
                                        display: block;
                                        width: 100%;
                                        color: #333;
                                        font-size: 12px;
                                        line-height: 26px;
                                        text-indent: 16px;
                                    }
                                    .list-circle {
                                        display: block;
                                        width: 6px;
                                        height: 6px;
                                        border-radius: 50%;
                                        background: #dbdbdb;
                                        position: absolute;
                                        left: 4px;
                                        top: 11px;
                                    }
                                }
                                .time {
                                    float: right;
                                    font-size: 12px;
                                    color: #b6b6b6;
                                }
                                &:hover .list-info .infos {
                                    color: #dd4f50;
                                }
                                &:hover .list-info .list-circle {
                                    background: #dd4f50;
                                }
                            }
                        }
                    }
                }
                .advisory-list:nth-of-type(2) {
                    width: 620px;
                    .header i {
                        background: url('../img/zhuangxiuwenda.png') no-repeat center;
                    }
                    .content {
                        .question {
                            height: 16px;
                            color: #333;
                            text-indent: 30px;
                            position: relative;
                            margin-bottom: 10px;
                            font-size: 14px;
                            .icon-ques {
                                display: block;
                                position: absolute;
                                width: 16px;
                                height: 16px;
                                background: url('../img/wen.png') no-repeat center;
                                left: 4px;
                                top: 2px;
                            }
                        }
                        .answer-box {
                            height: 72px;
                            padding-left: 30px;
                            position: relative;
                            color: #7d7d7d;
                            font-size: 12px;
                            margin-bottom: 12px;
                            .icon-da {
                                display: block;
                                position: absolute;
                                width: 16px;
                                height: 16px;
                                background: url('../img/da.png') no-repeat center;
                                left: 4px;
                                top: 16px;
                            }
                            .answer {
                                width: 530px;
                                height: 72px;
                                background: #f3f4f7;
                                padding: 12px 17px 11px 19px;
                                overflow: hidden;
                                position: relative;
                            }
                            .detail {
                                position: absolute;
                                right: 17px;
                                bottom: 11px;
                                color: #dd4f50;
                            }
                        }
                        .dash-line {
                            width: 100%;
                            height: 1px;
                            border-bottom: 1px dashed #dbdbdb;
                            margin-bottom: 14px;
                        }
                    }
                }
                .advisory-list:nth-of-type(3) {
                    width: 310px;
                    margin-right: 0;
                    .header i {
                        background: url('../img/zhuangxiuzhinan.png') no-repeat center;
                    }
                    .content {
                        .guide-lists {
                            width: 250px;
                            height: 230px;
                            overflow: hidden;
                            .guide-list {
                                float: left;
                                width: 100%;
                                height: 26px;
                                line-height: 26px;
                                cursor: pointer;
                                .list-info {
                                    width: 200px;
                                    position: relative;
                                    float: left;
                                    .infos {
                                        display: block;
                                        width: 100%;
                                        color: #333;
                                        font-size: 12px;
                                        line-height: 26px;
                                        text-indent: 16px;
                                    }
                                    .list-circle {
                                        display: block;
                                        width: 6px;
                                        height: 6px;
                                        border-radius: 50%;
                                        background: #dbdbdb;
                                        position: absolute;
                                        left: 4px;
                                        top: 11px;
                                    }
                                }
                                .time {
                                    float: right;
                                    font-size: 12px;
                                    color: #b6b6b6;
                                }
                                &:hover .list-info .infos {
                                    color: #dd4f50;
                                }
                                &:hover .list-info .list-circle {
                                    background: #dd4f50;
                                }
                            }
                        }
                    }
                }
            }
        }
    }